@import "../variables.scss";

.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  min-width: 600px;
  height: 10000px;
  background-color: rgba($black, 0.1);
  z-index: 1000;
}

.modal-container-appear {
  opacity: 0.01;
}

.modal-container-appear.modal-container-appear-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
